version: "3.7"

services:
  tesseract:
    image: macterra/tesseract-node:v0.06.08
    volumes:
      - /mnt/volume_tor1_02/tesseract:/data
    ports:
      - 17331:17331
      - 18331:18331

  testbtc:
    image: macterra/bitcoin-node:v0.18.0
    volumes:
      - /mnt/volume_tor1_02/bitcoin:/data
    ports:
      - 18332:18332
      - 18333:18333

  bitcoin:
    image: macterra/bitcoin-node:v0.18.0
    volumes:
      - /mnt/volume_tor1_03/bitcoin:/data
    ports:
      - 8332:8332
      - 8333:8333

  scanner_tsr:
    image: macterra/metatron-scanner:v21.07.18
    volumes:
      - ./data:/app/data
    depends_on: 
      - redis
      - ipfs
      - tesseract
    environment: 
      - SCANNER_CHAIN=TSR
      - SCANNER_START=100999
    env_file:
      - metatron.env
      
  scanner_tbtc:
    image: macterra/metatron-scanner:v21.07.18
    volumes:
      - ./data:/app/data
    depends_on: 
      - redis
      - ipfs
      - testbtc
    environment: 
      - SCANNER_CHAIN=tBTC
      - SCANNER_START=2034420
    env_file:
      - metatron.env
      
  scanner_btc:
    image: macterra/metatron-scanner:v21.07.18
    volumes:
      - ./data:/app/data
    depends_on: 
      - redis
      - ipfs
      - bitcoin
    environment: 
      - SCANNER_CHAIN=BTC
      - SCANNER_START=691459
    env_file:
      - metatron.env

  vault:
    image: macterra/metatron-vault:v21.07.18
    ports:
      - "5000:5000"
    env_file:
      - metatron.env

  ipfs:
    image: ipfs/go-ipfs:v0.8.0
    ports:
      - "4001:4001"
      - "8080:8080"
      - "5001:5001"
    volumes:
      - ./data/export:/export
      - ./data/ipfs:/data/ipfs

  redis:
    image: redis:6.2.4
    ports:
      - "6397"
    volumes:
      - ./data/redis:/data
  
